html{background:#E1E1E1}
body{width:944px;border:1px solid #CFCFCF;border-top:none;padding:45px;margin:0 auto;background:#fff;font:300 15px "微軟正黑體";line-height:2em}
a{text-decoration:none;font:300 15px "微軟正黑體"}

#container{box-shadow:0 0 10px #aaa}

#top{height:60px;text-align:right;background:url(../images/logo.png) 0 0 no-repeat;padding:10px 0 0 0}
#top a {margin-left:30px;font:300 17px "微軟正黑體";color:#0065b2}
#top a:hover{text-decoration:underline}

#banner{height:302px;position:relative}

#tab{position:absolute;left:0;top:50px;width:100%;background:#002461;background:rgba(0,25,63,.7);padding:10px 0 0 0}

#tab ul{overflow:hidden;width:570px;margin:0 auto}
#tab li{float:left;margin-right:15px;}
#tab a{display:block;width:80px;text-align:center;height:25px;color:#fff;font:900 16px "微軟正黑體"}
#tab .active a{color:#00CCFF;border-bottom:3px solid #00CCFF}
#tab a:hover{color:#00CCFF}

#main h3{font:900 36px "微軟正黑體";padding:0 35px}
#main p{padding:10px 0;padding:10px 35px}

.article strong{border-bottom:1px solid #B63022;font-weight:300;padding:0 0 3px 0}
#article-1{position:relative}
#article-1 h3{background:#1C1C1C;color:#fff000;height:60px;padding:15px 35px 0 35px}
#article-1 #mail{position:absolute;right:35px;top:27px}
#article-1 p{width:440px}

#article-2 h3{color:#003571}

#vote{padding:35px}
#vote h4{color:#004d96;font:300 27px "微軟正黑體";
background:url(../images/exm-prz-01.jpg) right bottom no-repeat;height:30px;padding:60px 0 0 0;margin:0 0 20px 0}
#vote h4 strong{color:#bd0000;font:900 27px "微軟正黑體"}
