body{width:806px;margin:0 auto;line-height:1.7em;font:300 15px "微軟正黑體"}
td{padding:15px 0}
.buttons{text-align:center}
.red{color:red}

.label{padding:0 15px 0 0}
.comment{font-size:12px}

#select{font:300 20px "微軟正黑體"}
#select label{margin:0 100px 0 0}

.buttons input{background:#f2f2f2;padding:10px 30px;border-radius:5px;border:1px solid #ddd;font:300 20px "微軟正黑體";margin:20px 0 0 0;cursor:pointer}

.buttons input:hover{background:#ddd}
