
<%= stylesheet_link_tag "votes/form.css", :media => "all" %>
<div id="top">
<h1><img src="<%= image_path('form-h1.jpg') %>" width="37" height="37" /> 抽獎活動辦法</h1>
<p>感謝您參與調查！請填妥以下資料，祝您中獎！</p>
</div>
<div id="info">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="61%"><span>獎品</span>：旅行萬用插座組10組／＊微軟獎品＊</td>
    <td width="39%"><span>抽獎日期</span>：2013年4月30日</td>
  </tr>
  <tr>
    <td><span>主辦單位</span>：台灣微軟股份有限公司、趨勢科技股份有限公司 </td>
    <td><span>抽獎方式</span>：以參加者電子郵件帳號隨機抽選</td>
  </tr>
  <tr>
    <td colspan="2"><span>公布日期</span>：2013年4月30日公布中獎名單於活動官網，不另行個別通知。</td>
    </tr>
  <tr>
    <td colspan="2"><span>獎品寄送</span>：2013年5月10日寄送獎品，至中獎者獎品寄送地址，如地址填寫有誤，主辦單位恕不負責。</td>
    </tr>
</table>
</div>

<iframe width="780" height="905"  frameborder="0"  marginheight="0" marginwidth="0" scrolling="auto"  src="https://www.wikirex.com/form/?form=134&key=MdRWrbGZVB&type=1"></iframe>