

<%= stylesheet_link_tag "votes/form.css", :media => "all" %>

<div id="top">
<h1>APT攻擊週爆！抽獎活動辦法</h1>
<p>感謝您參加投票！請填妥以下資料，祝您中獎！</p>
</div>
<div id="info">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2"><span>獎品</span>：趨勢旅行萬用插座組1組（共10名）／
      微軟網路電話話筒1支（共10名）</td>
    </tr>
  <tr>
    <td width="41%"> <span>抽獎日期</span>：2013年4月30日</td>
    <td width="59%"><span>抽獎方式</span>：以參加者電子郵件帳號隨機抽選</td>
  </tr>
  <tr>
    <td colspan="2"><span>主辦單位</span>：趨勢科技股份有限公司、台灣微軟股份有限公司</td>
  </tr>
  <tr>
    <td colspan="2"><span>公布日期</span>：2013年5月01日公布中獎名單於活動官網，不另行個別通知。</td>
    </tr>
  
  <tr>
    <td colspan="2"><span>獎品寄送</span>：2013年5月10日寄送獎品，至中獎者獎品寄送地址，如地址填寫有誤，主辦單位恕不負責。</td>
    </tr>
    <tr>
    <td colspan="2"><span>注意事項</span>：
      
      1. 主辦單位保留更換等值獎品以及變更活動內容或終止活動的權利。<br />
　　　　　 2.	如有任何變更內容或其他事項將公布於活動官網，恕不另行個別通知。<br />
　　　　　 3.	獎品發放後如有遺失、盜領或損毀，主辦單位恕不補發。獎品之售後服務以供應商規定為準。<br />

    </td>
  </tr>
</table>
</div>

<iframe width="780" height="1200"  frameborder="0"  marginheight="0" marginwidth="0" scrolling="auto"  src="<%= root_url %>/lottery.html"></iframe>